@model Orcamento.Models.OrcamentoGeral


@{


    ViewData["Title"] = "Dashboard Geral";

    var descricaoGastos = Model.Gastos.Select(item => item.Description).ToList();
    var valorGastos = Model.Gastos.Select(item => item.Value).ToList();
    var datasGastos = Model.Gastos.Select(item => item.ActionCreate.ToString("dd/MM/yyyy")).ToList();

    var descricaoReceitas = Model.Receitas.Select(item => item.DescriptionR).ToList();
    var valorReceitas = Model.Receitas.Select(item => item.ValueR).ToList();
    var datasReceitas = Model.Receitas.Select(item => item.ActionCreateR.ToString("dd/MM/yyyy")).ToList();


    var totalGastos = Model.Gastos.Sum(item => item.Value);
    var totalReceitas = Model.Receitas.Sum(item => item.ValueR);
    var saldoFinal = totalReceitas - totalGastos;



}

<h1>Relatorio Geral</h1>

<h2>Receitas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Ações</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Receitas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueR)
                </td>
                <td>
                    @item.ActionCreateR.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a class="btn-svg" asp-controller="OrcamentoRec" asp-action="Edit" asp-route-id="@item.Id"><img src="~/Images/Edit.svg" alt="Edit" /></a> |
                    <a class="btn-svg" asp-controller="OrcamentoRec" asp-action="Delete" asp-route-id="@item.Id"><img src="~/Images/Delete.svg" alt="Delete" /></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="Total">
            <td colspan="3" style="text-align: right;">Total:</td>
            <td>@totalReceitas.ToString("C")</td>
        </tr>
    </tfoot>
</table>









<h2>Despesas</h2>
<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Gastos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @item.ActionCreate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a class="btn-svg" asp-controller="OrcamentoPs" asp-action="Edit__G" asp-route-id="@item.Id"><img src="~/Images/Edit.svg" alt="Edit" /></a> |
                    <a class="btn-svg" asp-controller="OrcamentoPs"  asp-action="Delete__G" asp-route-id="@item.Id"><img src="~/Images/Delete.svg" alt="Delete" /></a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr class="Total">
            <td colspan="3" style="text-align: right;">Total:</td>
            <td>@totalGastos.ToString("C")</td>
        </tr>
    </tfoot>
</table>





<h2>Saldo Final</h2>
<p>O saldo final do mês é: <strong>@saldoFinal.ToString("C")</strong></p>
<a asp-action="DownloadRelatorio" class="btn btn-primary">Baixar Relatório PDF</a>

@if (saldoFinal < 0)
{
    <p>Melhor economizar, porque ultrapassou seu Orçamento</p>
}









