@model IEnumerable<Orcamento.Models.OrcamentoP>

@{
    ViewData["Title"] = "Index";

    var hasData = Model != null && Model.Any();

    var totalValue = hasData ? Model.Sum(item => item.Value) : 0;
    var descriptions = hasData ? Model.Select(item => item.Description).ToList() : new List<string>();
    var values = hasData ? Model.Select(item => item.Value).ToList() : new List<double>();
    var dates = hasData ? Model.Select(item => item.ActionCreate.ToString("dd/MM/yyyy")).ToList() : new List<string>();
}


<h1>Relatorio Despesa</h1>
<div class="spaceb">
    <form asp-action="Pesquisa" method="get">
        <label for="txtp">Pesquisa</label>
        <input type="text" name="txt_pesq" id="txtp" class="inputpesq" />
        <button type="submit">Pesquisar</button>
    </form>

    <form method="get" asp-action="Index__G">
        <label for="formPag">Forma de Pagamento:</label>
        <select id="formPag" name="formPag">
            <option value="">Selecione </option>
            <option value="Debito">Debito</option>
            <option value="Credito">Credito</option>
            <option value="Especie">Espécie</option>
            <option value="Pix">Pix</option>
            <option value="Cheque">Cheque</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>


    <form method="get" asp-action="Index__G">
        <label for="trimestre">Trimestre:</label>
        <select id="trimestre" name="trimestre">
            <option value="">Selecione</option>
            <option value="Trimestre1">Trimestre 1</option>
            <option value="Trimestre2">Trimestre 2</option>
            <option value="Trimestre3">Trimestre 3</option>
            <option value="Trimestre4">Trimestre 4</option>
        </select>
        <label for="ano">Ano:</label>
        <select id="ano" name="ano">
            <option value="">Selecione</option>
            @foreach (var ano in ViewBag.Anos)
            {
                <option value="@ano">@ano</option>
            }
        </select>
        <button type="submit">Filtrar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Tipo de Operação</th>
            <th>Forma de Pagamento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (hasData)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@item.Value.ToString("C")</td>
                    <td>@item.ActionCreate.ToString("dd/MM/yyyy")</td>
                    <td>@item.TipoOperacao</td>
                    <td>@item.FormaPag</td>
                    <td>
                        <a class="btn-svg" asp-action="Edit__G" asp-route-id="@item.Id"><img src="~/Images/Edit.svg" alt="Edit" /></a> |
                        <a class="btn-svg" asp-action="Delete__G" asp-route-id="@item.Id"><img src="~/Images/Delete.svg" alt="Delete" /></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" style="text-align: center;">Nenhum dado disponível</td>
            </tr>
        }
    </tbody>
    @if (hasData)
    {
        <tfoot>
            <tr class="Total">
                <td colspan="3" style="text-align: right;">Total:</td>
                <td>@totalValue.ToString("C")</td>
            </tr>
        </tfoot>
    }
</table>
<a asp-action="DownloadRelatorio" class="btn btn-primary">Baixar Relatório PDF</a>


<script src="~/js/site.js"></script>